//@use 'variables_php';
@media screen and (max-width: 800px) {

#intro{
    position: absolute;
    width: 100%;
    background-image:url("../img/intro_background.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;

    img{
    width:100%;
    }
}


#apropos{
    width: 100%;
    background-image:url("../img/apropos_background.png");
    background-attachment: fixed;
    background-size:cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;

    img{
    width:100%;
    }
}

#about2{
    width: 100%;
    background-image:url("../img/apropos_autre.jpg");
    background-size:cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;

    img{
    width:100%;
    }
}


#insecteintro{
    width: 100%;
    background-image:url("../img/insectes_background.jpg");
    background-size:cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;

    img{
    width:100%;
    }
}

#actusintro{
    width: 100%;
    background-image:url("../img/actu_background.jpg");
    background-size:cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;

    img{
    width:100%;
    }
}

#recettesintro{
    width: 100%;
    background-image:url("../img/recettes_background.png");
    background-size:cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;

    img{
    width:100%;
    }
}

#partnerintro{
    width: 100%;
    background-image:url("../img/partners_background.png");
    background-size:cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;

    img{
    width:100%;
    }
}
}

@media screen and (min-width: 800px) {

#intro{
    width: 100%;
    background-image:url("../img/intro_background.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    margin-top:10vh;
    top: 0;

    img{
    width:100%;
    }
}

#apropos{
    width: 100%;
    background-image:url("../img/apropos_background.png");
    background-attachment: fixed;
    background-size:cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    margin-top:10vh;
    top: 0;

    img{
    width:100%;
    }
}

#about2{
    width: 100%;
    background-image:url("../img/apropos_autre.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 50vh;
    top: 0;

    img{
    width:100%;
    }
}

#insecteintro{
    width: 100%;
    background-image:url("../img/insectes_background.jpg");
    background-size:cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 50vh;
    top: 0;

    img{
    width:100%;
    }
}

#actusintro{
    width: 100%;
    background-image:url("../img/actu_background.jpg");
    background-size:cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 50vh;
    top: 0;

    img{
    width:100%;
    }
}

#recettesintro{
    width: 100%;
    background-image:url("../img/recettes_background.png");
    background-size:cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 50vh;
    top: 0;

    img{
    width:100%;
    }
}

#partnerintro{
    width: 100%;
    background-image:url("../img/partners_background.png");
    background-size:cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 50vh;
    top: 0;

    img{
    width:100%;
    }
}

}


