$sandy : sandybrown;
$white : #D3E5E2;

#backleft{
    width: 20%;
    height: 100vh;
    float: left;
    background-color: $sandy;
    left: 0;
}

#backright{
    float:right;
    background-color: $white;
    width:80%;
    height: 100vh;

        .intit{
            width:100%;
            background-color: black;
            height:150px;

                h1{
                    float: left;
                    color: $white;
                    padding: 3%;
                    font-size: 40px;
                }

                a{
                    margin-right: 10%;
                    margin-top: 5%;
                    text-decoration: none;
                    color: black;
                    font-size: 15px;
                    /* display: inline; */
                    background-color: white;
                    width: 200px;
                    height: 50px;
                    float: right;
                    border-radius: 10px;
                    text-align: center;

                    h2{
                        margin:5%;
                    }
                }

                a:hover{
                    background-color: $sandy;
                }
            }

            table{
                margin: 5%;
                border: solid 2px black;
                width: 90%;

                thead{
                    width: 100%;
                    background-color: white;
                    border-bottom: solid 2px black;
                }

                td{
                    padding: 8px;
                }

                button{
                        display: block;
                        background-color: black;
                        border: none;
                        border-radius: 5px;
                        width: 75px;
                        padding: 2px;
                        color:white;
                        font-weight:bold;
                        margin: 2px;
                        text-align: center;

                        a{
                            color:white;
                            font-weight:bold;
                            text-decoration: none;
                        }
                }

            }

        }

#forminsecte{

    form{
        width: 70vw;
        margin: 5%;

        h2{
            font-size: 33px;
            margin-bottom: 20px;
        }

        input{
            text-align: left;
        }

        textarea{
            max-width: 56vw;
            border-radius: 10px;
            width: 80%;
            border-style: inset;
            border-width: 2px;
            border-color: initial;
        }
    }
}
