

@media screen and (max-width: 800px) {


.titreintro{
    color: white;
    font-size: 18vw;
    width:100%;
    text-align: center;
}

.introsub{
    color: white;
    font-size: 7vw;
    width:100%;
    text-align: center;
}

.home{
    margin-top:100vh;
}


.content{
    margin-bottom: 100px;

    article{
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15%;
        text-align: center;

        .lineleft{
            width: 100px;
            height:20px;
        }

        .lineright{
            width: 100px;
            height:20px;
        }

        h2{
            font-size: 4em;
            line-height: 100%;
            text-align: center;
            width: 100%;
            margin: 20px;
        }

        .subarticle{
            margin-bottom:20px;
        }

        .imgarticle{
            width: 70%;
            margin-bottom: 15%;
            margin-left: auto;
            max-width: 95%;
        }

        .articleb{
            margin:20px;

            .imgarticleb{
                width: 73%;
                margin-left: 2%;
            }
        }
    }
    }

    // ============================ HOME===============================//

        #recettes{
            text-align: center;

            .lineleft{
                width: 100px;
                height:20px;
            }

            h2{
                font-size: 5em;
                width: 100%;
                text-align: center;
            }

            #suggestions{
                width: 100%;
                margin: 0 auto;

                .recettehome{
                    padding:10%;
                }

                .imgrecette{
                    max-width: 100%;
                    max-height: 340px;
                    margin-bottom: 15px;
                }

                h3{
                    font-size: 2em;
                    margin-bottom: 10px;
                }
            }
        }



    // ============================ ABOUT ===============================

    #about{
        display: block;
        margin-top:10vh;

        .fullwidth{
        width: 100%;
        left: 0;
        margin-top: 80px;
        }

        .title{
            margin-top:3%;
        }

        .imgarticle{
            padding: 15px;
        }

        .lineleft{
            margin-top: 25%;
        }
    }
}


@media screen and (min-width: 800px) {

    .titreintro{
        color: white;
        font-size: 10em;
        width:100%;
        text-align: center;
    }

    .introsub{
        color: white;
        font-size: 3em;
        width:100%;
        text-align: center;
        margin-top:-50px;
    }


    #intro img{
        width:100%;
    }

    .home{

        .imgarticle{
            width:70% !important;
            margin-left:20%;
        }
    }

    .content{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8%;
        min-height: 54vh;

        article{
            padding-top: 14%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            grid-auto-rows: minmax(100px, auto);

            .lineleft{
                width: 100px;
                height:20px;
            }

            .lineright{
                width: 100px;
                height:20px;
                float: right;
            }

            h2{
                font-size: 5em;
                line-height: 100%;
                text-align: center;
            }

            .imgarticle{
                width: 100%;
            }

            .subarticle{
                margin-bottom: 20px;
                }


            .articleb{
                text-align: right;

                .imgarticleb{
                    width: 73%;
                    margin-left: 2%;
                }
            }
        }

// ============================ HOME===============================//

            #recettes{

                .lineleft{
                    width: 100px;
                    height: 20px;
                    float: left;
                }

                h2{
                    font-size: 5em;
                    width: 50%;
                    float: left;
                    text-align: center;
                }

                #suggestions{
                    width: 100%;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 10px;
                    grid-auto-rows: minmax(100px, auto);

                    .recettehome{
                        padding:10%;
                        text-align: center;
                    }

                    .imgrecette{
                        max-height: 340px;
                        margin-bottom: 15px;
                    }

                    h3{
                        font-size: 2em;
                        margin-bottom: 10px;
                    }
                }
            }
        }

// ============================ ABOUT===============================//

    #about{
        display: block;

        .fullwidth{
        width: 100%;
        left: 0;
        margin-top: 80px;
        }

        .title{
            margin-top:3%;
            text-align: left !important;
            font-size:5vw;
        }

        .imgarticle{
            padding: 15px;
        }

    }
}
