

@media screen and (max-width: 800px) {

.titreintro{
    color: white;
    font-size: 18vw;
    width:100%;
    text-align: center;
}

.introsub{
    color: white;
    font-size: 7vw;
    width:100%;
    text-align: center;
}

.home{
    margin-top:100vh;
}


.content{
    margin-bottom: 100px;


    // ____________________________________________________RECETTES_________________________________________________________

    .recetteline{
        margin-bottom: 5%;

        img{
            width: 100px;
            height: 20px;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        a{
            margin-top:20px;
            margin-bottom:20px;
        }

    }

    //_____________________________________________________END RECETTES_______________________________________________________

    article{
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15%;
        text-align: center;

        .lineleft{
            width: 100px;
            height:20px;
        }

        .lineright{
            width: 100px;
            height:20px;
        }

        h2{
            font-size: 4em;
            line-height: 100%;
            text-align: center;
            width: 100%;
            margin: 20px;
        }

        .subarticle{
            margin-bottom:20px;
        }

        .imgarticle{
            width: 70%;
            margin-bottom: 15%;
            margin-left: auto;
            max-width: 95%;
        }

        .linkpage{
            border-radius: 20px;
            padding: 13px;
            background-color: black;
            color: white;
            display: block;
            margin-top: 10px;
            width:200px;
            }

        .linkpage:hover{
            background-color: cadetblue;
        }

        .articleb{
            margin:20px;

            .imgarticleb{
                width: 73%;
                margin-left: 2%;
            }
        }
    }
    }

    // ============================ HOME===============================//

        #recettes{
            text-align: center;

            .lineleft{
                width: 100px;
                height:20px;
            }

            h2{
                font-size: 3em;
                width: 100%;
                text-align: center;
                min-height: 100px;
            }


            #suggestions{
                width: 100%;
                margin: 0 auto;

                .recettehome{
                    padding:10%;

                    a{
                        border-radius: 20px;
                        border:3px solid sandybrown;
                        padding: 13px;
                        color: sandybrown;
                        display: block;
                        margin-top: 10px;
                        width:200px;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    p{
                    max-width: 100%;
                    min-height: 50px;
                    }
                }

                .imgrecette{
                    max-width: 100%;
                    max-height: 340px;
                    margin-bottom: 15px;
                }

                h3{
                    font-size: 2em;
                    margin-bottom: 10px;
                    min-height:100px;
                }
            }
        }



    // ============================ ABOUT ===============================

    #about{
        display: block;
        margin-top:10vh;

        .fullwidth{
        width: 100%;
        left: 0;
        margin-top: 80px;
        }

        .title{
            margin-top:3%;
        }

        .imgarticle{
            padding: 15px;
        }

        .lineleft{
            margin-top: 25%;
        }
    }
}
















// ==================================================================LARGE============================================================

@media screen and (min-width: 800px) {


    .empty{
        background-image: url(/img/icons/star-empty-38.png);
        width: 50px;
        height: 50px;
        background-size: 50px;
        display: block;
        float: right;
        }

    .full{
        background-image: url(/img/icons/star-filled-38.png);
        width: 50px;
        height: 50px;
        background-size: 50px;
        display: block;
        float: right;
    }

    .titreintro{
        color: white;
        font-size: 10em;
        width:100%;
        text-align: center;
    }

    .introsub{
        color: white;
        font-size: 3em;
        width:100%;
        text-align: center;
        margin-top:-50px;
    }


    #intro img{
        width:100%;
    }

    .home{

        .imgarticle{
            width:70% !important;
            margin-left:20%;
        }
    }

    .content{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8%;
        margin-top: 8%;

  // ____________________________________________________RECETTES_________________________________________________________

    .recetteline{
        margin-bottom: 5%;

        .lineleft{
            width: 100px;
            height: 20px;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        #recettedescr{
            width: 80%;
            border-radius: 16px;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            grid-auto-rows: minmax(100px, auto);
            grid-auto-flow: dense;

        a{
            margin-top:20px;
            margin-bottom:20px;
        }

        img{
            margin-top: 5%;
            width: 30%;
            border-radius: 16px;
        }
    }
    }



  // _____________________________________________________________________________________________________________

  article:nth-child(2){
    padding-top: 14%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    margin-bottom: 5%;
    text-align: right;

    .article{
        text-align: right;

        .linkpage{
            float: right;
        }
    }

}

        article{
            padding-top: 14%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            grid-auto-rows: minmax(100px, auto);
            grid-auto-flow: dense;
            margin-bottom: 5%;



            .lineleft{
                width: 100px;
                height:20px;
            }

            .lineright{
                width: 100px;
                height:20px;
                float: right;
            }

            h2{
                font-size: 3em;
                line-height: 100%;
                margin-bottom: 40px;
                margin-top: 8%;
            }

            .imgarticle{
                width: 100%;
            }

            .subarticle{
                margin-bottom: 20px;
                }

            .linkpage{
                border-radius: 20px;
                padding: 13px;
                background-color: black;
                color: white;
                display: block;
                margin-top: 10px;
                width:200px;
                text-align: center;
                }

                .linkpage:hover{
                    background-color: cadetblue;
                }

            .articleb{
                text-align: right;

                .imgarticleb{
                    width: 73%;
                    margin-left: 2%;
                }
            }
        }

// ============================ HOME===============================//

            #recettes{
                 margin-top: 15%;

                .lineleft{
                    width: 100px;
                    height: 20px;
                    float: left;
                }

                h2{
                    font-size: 3em;
                    width: 50%;
                    float: left;
                    text-align: center;
                    margin-top: -30px;
                }

                .linkpage{
                    border-radius: 20px;
                    padding: 13px;
                    background-color: black;
                    color: white;
                    display: block;
                    margin-left: auto;
                    margin-top: 10px;
                    margin-right: auto;
                    width:200px;
                    text-align: center;
                    }

                .linkpage:hover{
                    background-color: cadetblue;
                }

                #suggestions{
                    width: 100%;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 10px;
                    grid-auto-rows: minmax(100px, auto);

                    .recettehome{
                        padding:10%;
                        text-align: center;

                        a{
                            border-radius: 20px;
                            border:3px solid sandybrown;
                            padding: 13px;
                            color: sandybrown;
                            display: block;
                            margin-top: 10px;
                            width:200px;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        p{
                            max-width: 100%;
                            min-height: 50px;
                            }
                    }

                    .imgrecette{
                        max-height: 340px;
                        margin-bottom: 15px;
                    }

                    h3{
                        font-size: 1.5em;
                        margin-bottom: 10px;
                        min-height: 66px;
                    }
                }
            }
        }

// ============================ ABOUT===============================//

    #about{
        display: block;

        .fullwidth{
        width: 100%;
        left: 0;
        margin-top: 80px;
        }

        .title{
            margin-top:3%;
            text-align: left !important;
            font-size:5vw;
        }

        .imgarticle{
            padding: 15px;
        }

    }
}
