@media screen and (max-width: 800px) {
.fixed{
    bottom: 0;
}

.float{
    float:left;
}

footer {
    border-top: solid 4px sandybrown;
    background-color: $blue;
    width:100%;
    bottom:0;
    -webkit-box-shadow: 0px -5px 30px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 30px -2px rgba(0,0,0,0.75);
    box-shadow: 0px -5px 30px -2px rgba(0,0,0,0.75);
    bottom: 0;

    .contentfoot{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;

        h1{
            font-size: 5vw;
            text-align: center;
            position: relative;
            color: white;
            font-size: 45px;
        }

        ul {
            font-size: 20px;
            text-decoration: none;
            padding: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            list-style: none;
            font-weight: bold;
            text-align: center;

            li {
                list-style: none;

                a {
                    color: black;
                    text-decoration: underline;
                    cursor: pointer;
                    font-size: 15px;
                }

                a:hover {
                    font-style: italic;
                }
            }
        }


        #adress{
        right: 30px;
        padding: 30px;
        text-align: center;
        }

        #menufooter{
            width: 100%;
            text-align: center;
        }
    }
}
}

@media screen and (min-width: 800px) {
.fixed{
    position: fixed;
    bottom: 0;
}

.float{
    float:left;
}

footer {
    border-top: solid 4px sandybrown;
    background-color: $blue;
    width:100%;
    bottom:0;
    -webkit-box-shadow: 0px -5px 30px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 30px -2px rgba(0,0,0,0.75);
    box-shadow: 0px -5px 30px -2px rgba(0,0,0,0.75);
    bottom: 0;

    .contentfoot{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);

        h1{
            font-size: 6vw;
            position: relative;
            top: 0;
        }

        ul {
            font-size: 20px;
            text-decoration: none;
            padding: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            list-style: none;
            font-weight: bold;

            li {
                list-style: none;

                a {
                    color: black;
                    text-decoration: underline;
                    cursor: pointer;
                    font-size: 15px;
                }

                a:hover {
                    font-style: italic;
                }
            }
        }


        #adress{
        margin: 15px;
        text-align: right;
        }
    }
}
}


