$sandy : sandybrown;
$blue: cadetblue;
$border : solid 4px $sandy;

.pict {
    width: 40px;
  }

header{
    display: -webkit-box;
    border-bottom: solid 4px $sandy;
    background-color: $blue;
    min-height: 200px;


    h1{
        font-size: 7vw;
        color: sandybrown;
        position: absolute;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }


    #right {
        right: 0;
        position: absolute;
        padding: 35px;
        text-align: center;
    }

    #reseaux{
        padding:10px;
    }

    .pict{
        width: 40px;
    }


    #newsletter {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        display: block;
        margin: 5% 6% 7% 21%;


        a {
            color: black;
            font-size: 20px;
            margin-top: -13px;
            display: block;
          }

        img{
        width:40px;
        }
    }

    #favoris {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        display: block;
        margin: 5% 6% 7% 21%;

        a{
            color: black;
            font-size: 20px;
            margin-top: -13px;
            display: block;
        }

        img{
        width:60px;
        }
    }

    #connexion button{
        background-color: $sandy;
        border: none;
        border-radius: 15px;
        padding: 6px;
        float: left;
        width: 100%;
        margin: 4px;

        a{
            color:white;
            font-style: oblique;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

#fav{
    text-align: center;
    background-color: black;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid 4px sandybrown;
    -webkit-box-shadow: 6px 14px 36px -12px rgba(0,0,0,0.66);
    -moz-box-shadow: 6px 14px 36px -12px rgba(0,0,0,0.66);
    box-shadow: 6px 14px 36px -12px rgba(0,0,0,0.66);
}

.subheader{
    display:inline;
    text-align: center;
}

.subheader a{
color: white;
text-decoration: none;
padding: 5px;
}

footer{
    display: flex;
    border-top: solid 4px $sandy;
    background-repeat: no-repeat;
    background-size: cover;

    ul{
        width: 36vh;
        font-size: 20px;
        text-decoration: none;
        padding: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        list-style: none;
        font-weight: bold;

            li{
            list-style: none;

            a{
                color: $sandy;
                text-decoration: none;
                font-size: 15px;
            }

            a:hover{
                font-style: italic;
            }
        }
    }

    #adress{
        position: fixed;
        right: 30px;
        margin: 30px;
    }
}
