$sandy : sandybrown;
$blue: cadetblue;
$border : solid 4px $sandy;

.pict {
    width: 40px;
  }

h1{
    font-size: 55px;
    color: sandybrown;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.welcome{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: cadetblue;
}

// ================================ MOBILE =======================================

@media screen and (max-width: 800px) {

    header{
        display:none;
    }

    #burger{
        display: block;
        position: fixed;
        right:15px;
        top:30px;
        cursor: pointer;
        z-index: 999;
        width: 40px;
        height: 40px;
    }

    #hiddenheader{
        border-bottom: solid 4px $sandy;
        background-color: $blue;
        width:100%;
        min-height: 400px;
        position: fixed;
        top:0;
        display: none;

        #right {
            right: 0;
            text-align: center;

            #connexion{
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;


                button{
                    background-color: $sandy;
                    border: none;
                    border-radius: 15px;
                    padding: 6px;
                    float: left;
                    margin: 15px;

                a{
                        color:white;
                        font-style: oblique;
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
            }
        }

        #reseaux{
            padding:10px;
            border-bottom: 3px solid black;
            border-top: 3px solid black;
        }


        #newsletter {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            display: block;
            margin: 5% 6% 7% 21%;


            a {
                color: black;
                font-size: 20px;
                margin-top: -13px;
                display: block;
              }

            img{
            width:40px;
            }
        }

        #favoris {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            display: block;
            margin: 5% 6% 7% 21%;

            a{
                color: black;
                font-size: 20px;
                margin-top: -13px;
                display: block;
            }

            img{
            width:60px;
            }
        }
    }
}

@media screen and (min-width: 800px) {

    h1{
        font-size: 7vw;
        color: $sandy;
        position: absolute;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        top: -20px;
    }

    .welcome{
        font-size: 3vw;
        color: white;
        position: absolute;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 8%;
    }

    #hiddenheader{
        display: none;
    }

    #burger{
            display: none;
        }

    header section{
        display: -webkit-box;
        border-bottom: solid 4px $sandy;
        background-color: $blue;
        min-height: 200px;

        #right {
            right: 0;
            position: absolute;
            padding: 35px;
            text-align: center;
        }

        #reseaux{
            padding:10px;
        }

        .pict{
            width: 40px;
        }

        #newsletter {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            display: block;
            margin: 5% 6% 7% 21%;


            a {
                color: black;
                font-size: 20px;
                margin-top: -13px;
                display: block;
            }

            img{
            width:40px;
            }
        }

    #connexion button{
        background-color: $sandy;
        border: none;
        border-radius: 15px;
        padding: 6px;
        float: left;
        width: 100%;
        margin: 4px;

        a{
            color:white;
            font-style: oblique;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}
}


// #favoris {
//     text-align: center;
//     font-size: 25px;
//     font-weight: bold;
//     display: block;
//     margin: 5% 6% 7% 21%;

//     a{
//         color: black;
//         font-size: 20px;
//         margin-top: -13px;
//         display: block;
//     }

//     img{
//     width:60px;
//     }

#fav{
    text-align: center;
    background-color: black;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid 4px sandybrown;
    -webkit-box-shadow: 6px 14px 36px -12px rgba(0,0,0,0.66);
    -moz-box-shadow: 6px 14px 36px -12px rgba(0,0,0,0.66);
    box-shadow: 6px 14px 36px -12px rgba(0,0,0,0.66);
}


.subheader{
    display:inline;
    text-align: center;
}

.subheader a{
color: white;
text-decoration: none;
padding: 5px;
}
