
#insectesfront{
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 150px;

  figure{
    text-align: center;

    p{
        max-width: 70%;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        }
    }
 }

#insectesfront img{
    max-width: 250px;
}

#insectes{
    margin-top:5%;
    min-height: 90vh;
}
