
#insectesfront{
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#insectesfront img{
    max-width: 250px;
}

#insectes{
    margin-top:5%;
    min-height: 90vh;;
}
