@media screen and (max-width: 800px) {
    .single{
        float: left;
        height: auto;
        position: inherit;


        #insectesview{
        padding-top: 20%;

        .imgsingle{
            float: left;
            width: 100%;
            padding: 15%;

            img{
                width:100%;
            }
        }

        .infosingle{
            float:left;
            width:100%;
            margin-top: 5%;
            padding: 13%;

            img{
                width: 100px;
                height: 20px;
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }
    }
}
}

@media screen and (min-width: 800px) {

    .single{
        width: 70vw;
        margin-left: auto;
        margin-right: auto;

        #insectesview{
            // padding-top: 5%;

        .imgsingle{
            float:left;
            width:40%;

            img{
                width:100%;
            }
        }

        .infosingle{
            float:left;
            width:60%;
            margin-top: 5%;

            img{
                width: 100px;
                height: 20px;
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }
    }

    #recettesview{

        .lineleft{
            width: 100px;
            height: 20px;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        .titlerecette{
            margin-bottom: 5%;;
        }

        .imgsingle{
            float:left;
            width:40%;

            img{
                width:100%;
            }
        }

        .infosingle{
            float:left;
            width:60%;
            padding: 3%;

            img{
                width: 100px;
                height: 20px;
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }

    .comrecette{
        background-color: lightgray;
        padding: 17px;
        width: 30%;
        float: left;
        margin-left: 3%;
        margin-bottom: 5%;

        .commenter{
        border-top: 2px solid black;
        padding-top: 2%;
        margin-top: 5%;

        #docom{
            font-weight: bold;
        }
        }
    }
  }
}

}
