@import 'header';
@import 'membreform';
@import 'menu';
@import 'content';
@import 'footer';
@import 'back';
@import 'YSeditor';
@import 'membre';
@import 'front';
@import 'background';
@import 'single';


$font1 : 'Alata', sans-serif;
$font2 : 'Shadows Into Light', cursive;
$sandy : sandybrown;
$blue: cadetblue;

*{
	margin:0;
	padding:0;
    box-sizing:border-box;

        body{
        font-family: $font1;
        overflow-x:hidden;

            h1, h2{
                font-family: $font2, cursive;
            }
        }
 }


