@charset "UTF-8";

.pict {
  width: 40px;
}

@media screen and (max-width: 800px) {
  header {
    display: none;
  }

  #title {
    display: none;
  }

  #titlemob {
    font-size: 54px;
    color: black;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 0;
    z-index: 9;
  }

  .welcome {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 0;
  }

  #burger {
    display: block;
    position: fixed;
    right: 15px;
    top: 30px;
    cursor: pointer;
    z-index: 999;
    width: 40px;
    height: 40px;
  }

  #hiddenheader {
    border-bottom: solid 4px sandybrown;
    background-color: cadetblue;
    width: 100%;
    min-height: 460px;
    position: fixed;
    top: 0;
    display: none;
    z-index: 99;
  }

  #hiddenheader .welcome {
    display: none;
  }

  #hiddenheader #right {
    width: 100%;
    text-align: center;
    top: 177px;
  }

  #hiddenheader #right #connexion {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }

  #hiddenheader #right #connexion button {
    background-color: sandybrown;
    border: none;
    border-radius: 15px;
    padding: 6px;
    float: left;
    margin: 15px;
  }

  #hiddenheader #right #connexion button a {
    color: white;
    font-style: oblique;
    text-decoration: underline;
    font-weight: bold;
  }

  #hiddenheader #reseaux {
    padding: 10px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
  }

  #hiddenheader #newsletter {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin: 5% 6% 7% 21%;
  }

  #hiddenheader #newsletter a {
    color: black;
    font-size: 20px;
    margin-top: -13px;
    display: block;
  }

  #hiddenheader #newsletter img {
    width: 40px;
  }

  #hiddenheader #favoris {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin: 5% 6% 7% 21%;
  }

  #hiddenheader #favoris a {
    color: black;
    font-size: 20px;
    margin-top: -13px;
    display: block;
  }

  #hiddenheader #favoris img {
    width: 60px;
  }

  #hiddenheader #fav {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: black;
    width: 100%;
    padding: 12px;
    box-shadow: 6px 14px 36px -12px rgba(0, 0, 0, 0.66);
  }

  #hiddenheader #fav a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
}

@media screen and (min-width: 800px) {
  #titlemob {
    display: none;
  }

  #title {
    font-size: 100px;
    color: sandybrown;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 40px;
  }

  .welcome {
    font-size: 30px;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 94;
  }

  #hiddenheader {
    display: none;
  }

  #burger {
    display: none;
  }

  header {
    position: absolute;
    top: 0;
    width: 100%;
  }

  header section {
    display: -webkit-box;
    border-bottom: solid 4px sandybrown;
    background-color: cadetblue;
    min-height: 200px;
  }

  header section #right {
    padding: 35px;
    text-align: center;
    z-index: 9999;
    position: absolute;
    right: 0;
  }

  header section #reseaux {
    padding: 10px;
  }

  header section .pict {
    width: 40px;
  }

  header section #newsletter {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin: 5% 6% 7% 21%;
  }

  header section #newsletter a {
    color: black;
    font-size: 20px;
    margin-top: -13px;
    display: block;
  }

  header section #newsletter img {
    width: 40px;
  }

  header section #connexion button {
    background-color: sandybrown;
    border: none;
    border-radius: 15px;
    padding: 6px;
    float: left;
    width: 100%;
    margin: 4px;
  }

  header section #connexion button a {
    color: white;
    font-style: oblique;
    text-decoration: underline;
    font-weight: bold;
  }

  #fav {
    text-align: center;
    background-color: black;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid 4px sandybrown;
    box-shadow: 6px 14px 36px -12px rgba(0, 0, 0, 0.66);
  }

  .subheader {
    display: inline;
    text-align: center;
  }

  .subheader a {
    color: white;
    text-decoration: none;
    padding: 5px;
  }
}

/* ============================CONNECT============================= */

@media screen and (max-width: 800px) {
  .header {
    display: none;
  }

  section #right {
    right: 0;
    position: absolute;
    padding: 35px;
    text-align: center;
  }

  section #reseaux {
    padding: 10px;
  }

  section .pict {
    width: 40px;
  }

  section #newsletter {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin: 5% 6% 7% 21%;
  }

  section #newsletter a {
    color: black;
    font-size: 20px;
    margin-top: -13px;
    display: block;
  }

  section #newsletter img {
    width: 40px;
  }

  section #connexion button {
    background-color: sandybrown;
    border: none;
    border-radius: 15px;
    padding: 6px;
    float: left;
    width: 100%;
    margin: 4px;
  }

  section #connexion button a {
    color: white;
    font-style: oblique;
    text-decoration: underline;
    font-weight: bold;
  }

  #membre {
    background-color: #000000ad;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 4;
    display: none;
  }

  #register {
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
    width: 80%;
    height: 100%;
    z-index: 4;
    margin-top: 30%;
  }

  .boxconnectpage {
    width: 80vh;
    border: 4px solid;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .login {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    margin-top: 20%;
  }

  .boxconnect {
    width: 80vh;
    border: 4px solid;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .boxconnect label {
    width: 100%;
    display: block;
  }

  .boxconnect img {
    cursor: pointer;
    width: 40px;
  }

  h2 {
    font-size: 40px;
  }

  #membre h2 {
    font-size: 40px;
  }

  .form {
    width: 100%;
    margin-bottom: 10px;
  }

  #submit {
    border-radius: 20px;
    padding: 13px;
    background-color: black;
    color: white;
    font-family: "Shadows Into Light", cursive;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
  }

  input:not([type=submit]) {
    border-radius: 10px;
    width: 80%;
    height: 36px;
    text-align: center;
  }
}

/* ============================CONNECT============================= */

@media screen and (min-width: 800px) {
  .header {
    width: 100%;
  }

  .header section {
    display: -webkit-box;
    border-bottom: solid 4px sandybrown;
    background-color: cadetblue;
    min-height: 200px;
  }

  .header section #right {
    right: 0;
    position: absolute;
    padding: 35px;
    z-index: 9999;
  }

  .header section #reseaux {
    padding: 10px;
  }

  .header section .pict {
    width: 40px;
  }

  .header section #newsletter {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin: 5% 6% 7% 21%;
  }

  .header section #newsletter a {
    color: black;
    font-size: 20px;
    margin-top: -13px;
    display: block;
  }

  .header section #newsletter img {
    width: 40px;
  }

  .header section #connexion button {
    background-color: sandybrown;
    border: none;
    border-radius: 15px;
    padding: 6px;
    float: left;
    width: 100%;
    margin: 4px;
  }

  .header section #connexion button a {
    color: white;
    font-style: oblique;
    text-decoration: underline;
    font-weight: bold;
  }

  #membre {
    background-color: #000000ad;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 4;
    display: none;
  }

  #register {
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
    z-index: 4;
  }

  .boxconnectpage {
    width: 80vh;
    border: 4px solid;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .login {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    margin-top: 20%;
  }

  .boxconnect {
    width: 80vh;
    border: 4px solid;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .boxconnect label {
    width: 100%;
    display: block;
  }

  .boxconnect img {
    cursor: pointer;
    width: 40px;
  }

  h2 {
    font-size: 40px;
  }

  #membre h2 {
    font-size: 40px;
  }

  .form {
    width: 100%;
    margin-bottom: 10px;
  }

  #submit {
    border-radius: 20px;
    padding: 13px;
    background-color: black;
    color: white;
    font-family: "Shadows Into Light", cursive;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
  }

  input:not([type=submit]) {
    border-radius: 10px;
    width: 80%;
    height: 36px;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  #menu {
    z-index: 9999;
    text-align: center;
    width: 100%;
  }

  #menu span {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 3px solid black;
    display: block;
  }

  #menu ul {
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
    font-weight: bold;
  }

  #menu ul li {
    list-style: none;
  }

  #menu ul li a {
    color: black;
    text-decoration: none;
  }

  #menu ul li a:hover {
    font-style: italic;
  }
}

@media screen and (min-width: 800px) {
  #menu {
    position: absolute;
    z-index: 99;
  }

  #menu span {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 3px solid black;
    display: block;
  }

  #menu ul {
    font-size: 22px;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
    font-weight: bold;
  }

  #menu ul li {
    list-style: none;
  }

  #menu ul li a {
    color: black;
    text-decoration: none;
  }

  #menu ul li a:hover {
    font-style: italic;
  }
}

@media screen and (max-width: 800px) {
  .titreintro {
    color: white;
    font-size: 18vw;
    width: 100%;
    text-align: center;
  }

  .introsub {
    color: white;
    font-size: 7vw;
    width: 100%;
    text-align: center;
  }

  .home {
    margin-top: 100vh;
  }

  .content {
    margin-bottom: 100px;
  }

  .content .recetteline {
    margin-bottom: 5%;
  }

  .content .recetteline img {
    width: 100px;
    height: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .content .recetteline a {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .content article {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    text-align: center;
  }

  .content article .lineleft {
    width: 100px;
    height: 20px;
  }

  .content article .lineright {
    width: 100px;
    height: 20px;
  }

  .content article h2 {
    font-size: 4em;
    line-height: 100%;
    text-align: center;
    width: 100%;
    margin: 20px;
  }

  .content article .subarticle {
    margin-bottom: 20px;
  }

  .content article .imgarticle {
    width: 70%;
    margin-bottom: 15%;
    margin-left: auto;
    max-width: 95%;
  }

  .content article .linkpage {
    border-radius: 20px;
    padding: 13px;
    background-color: black;
    color: white;
    display: block;
    margin-top: 10px;
    width: 200px;
  }

  .content article .linkpage:hover {
    background-color: cadetblue;
  }

  .content article .articleb {
    margin: 20px;
  }

  .content article .articleb .imgarticleb {
    width: 73%;
    margin-left: 2%;
  }

  #recettes {
    text-align: center;
  }

  #recettes .lineleft {
    width: 100px;
    height: 20px;
  }

  #recettes h2 {
    font-size: 3em;
    width: 100%;
    text-align: center;
    min-height: 100px;
  }

  #recettes #suggestions {
    width: 100%;
    margin: 0 auto;
  }

  #recettes #suggestions .recettehome {
    padding: 10%;
  }

  #recettes #suggestions .recettehome a {
    border-radius: 20px;
    border: 3px solid sandybrown;
    padding: 13px;
    color: sandybrown;
    display: block;
    margin-top: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  #recettes #suggestions .recettehome p {
    max-width: 100%;
    min-height: 50px;
  }

  #recettes #suggestions .imgrecette {
    max-width: 100%;
    max-height: 340px;
    margin-bottom: 15px;
  }

  #recettes #suggestions h3 {
    font-size: 2em;
    margin-bottom: 10px;
    min-height: 100px;
  }

  #about {
    display: block;
    margin-top: 10vh;
  }

  #about .fullwidth {
    width: 100%;
    left: 0;
    margin-top: 80px;
  }

  #about .title {
    margin-top: 3%;
  }

  #about .imgarticle {
    padding: 15px;
  }

  #about .lineleft {
    margin-top: 25%;
  }
}

@media screen and (min-width: 800px) {
  .empty {
    background-image: url(/img/icons/star-empty-38.png);
    width: 50px;
    height: 50px;
    background-size: 50px;
    display: block;
    float: right;
  }

  .full {
    background-image: url(/img/icons/star-filled-38.png);
    width: 50px;
    height: 50px;
    background-size: 50px;
    display: block;
    float: right;
  }

  .titreintro {
    color: white;
    font-size: 10em;
    width: 100%;
    text-align: center;
  }

  .introsub {
    color: white;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: -50px;
  }

  #intro img {
    width: 100%;
  }

  .home .imgarticle {
    width: 70% !important;
    margin-left: 20%;
  }

  .content {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    margin-top: 8%;
  }

  .content .recetteline {
    margin-bottom: 5%;
  }

  .content .recetteline .lineleft {
    width: 100px;
    height: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .content .recetteline #recettedescr {
    width: 80%;
    border-radius: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
  }

  .content .recetteline #recettedescr a {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .content .recetteline #recettedescr img {
    margin-top: 5%;
    width: 30%;
    border-radius: 16px;
  }

  .content article:nth-child(2) {
    padding-top: 14%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    margin-bottom: 5%;
    text-align: right;
  }

  .content article:nth-child(2) .article {
    text-align: right;
  }

  .content article:nth-child(2) .article .linkpage {
    float: right;
  }

  .content article {
    padding-top: 14%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    margin-bottom: 5%;
  }

  .content article .lineleft {
    width: 100px;
    height: 20px;
  }

  .content article .lineright {
    width: 100px;
    height: 20px;
    float: right;
  }

  .content article h2 {
    font-size: 3em;
    line-height: 100%;
    margin-bottom: 40px;
    margin-top: 8%;
  }

  .content article .imgarticle {
    width: 100%;
  }

  .content article .subarticle {
    margin-bottom: 20px;
  }

  .content article .linkpage {
    border-radius: 20px;
    padding: 13px;
    background-color: black;
    color: white;
    display: block;
    margin-top: 10px;
    width: 200px;
    text-align: center;
  }

  .content article .linkpage:hover {
    background-color: cadetblue;
  }

  .content article .articleb {
    text-align: right;
  }

  .content article .articleb .imgarticleb {
    width: 73%;
    margin-left: 2%;
  }

  .content #recettes {
    margin-top: 15%;
  }

  .content #recettes .lineleft {
    width: 100px;
    height: 20px;
    float: left;
  }

  .content #recettes h2 {
    font-size: 3em;
    width: 50%;
    float: left;
    text-align: center;
    margin-top: -30px;
  }

  .content #recettes .linkpage {
    border-radius: 20px;
    padding: 13px;
    background-color: black;
    color: white;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    width: 200px;
    text-align: center;
  }

  .content #recettes .linkpage:hover {
    background-color: cadetblue;
  }

  .content #recettes #suggestions {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .content #recettes #suggestions .recettehome {
    padding: 10%;
    text-align: center;
  }

  .content #recettes #suggestions .recettehome a {
    border-radius: 20px;
    border: 3px solid sandybrown;
    padding: 13px;
    color: sandybrown;
    display: block;
    margin-top: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .content #recettes #suggestions .recettehome p {
    max-width: 100%;
    min-height: 50px;
  }

  .content #recettes #suggestions .imgrecette {
    max-height: 340px;
    margin-bottom: 15px;
  }

  .content #recettes #suggestions h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    min-height: 66px;
  }

  #about {
    display: block;
  }

  #about .fullwidth {
    width: 100%;
    left: 0;
    margin-top: 80px;
  }

  #about .title {
    margin-top: 3%;
    text-align: left !important;
    font-size: 5vw;
  }

  #about .imgarticle {
    padding: 15px;
  }
}

@media screen and (max-width: 800px) {
  .fixed {
    bottom: 0;
  }

  .float {
    float: left;
  }

  footer {
    border-top: solid 4px sandybrown;
    background-color: cadetblue;
    width: 100%;
    bottom: 0;
    box-shadow: 0px -5px 30px -2px rgba(0, 0, 0, 0.75);
    bottom: 0;
  }

  footer .contentfoot {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  footer .contentfoot h1 {
    font-size: 5vw;
    text-align: center;
    position: relative;
    color: white;
    font-size: 45px;
  }

  footer .contentfoot ul {
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
    font-weight: bold;
    text-align: center;
  }

  footer .contentfoot ul li {
    list-style: none;
  }

  footer .contentfoot ul li a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
  }

  footer .contentfoot ul li a:hover {
    font-style: italic;
  }

  footer .contentfoot #adress {
    right: 30px;
    padding: 30px;
    text-align: center;
  }

  footer .contentfoot #menufooter {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 800px) {
  .fixed {
    position: fixed;
    bottom: 0;
  }

  .float {
    float: left;
  }

  footer {
    border-top: solid 4px sandybrown;
    background-color: cadetblue;
    width: 100%;
    bottom: 0;
    box-shadow: 0px -5px 30px -2px rgba(0, 0, 0, 0.75);
    bottom: 0;
  }

  footer .contentfoot {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  footer .contentfoot h1 {
    font-size: 6vw;
    position: relative;
    top: 0;
    text-align: center;
  }

  footer .contentfoot ul {
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
    font-weight: bold;
  }

  footer .contentfoot ul li {
    list-style: none;
  }

  footer .contentfoot ul li a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
  }

  footer .contentfoot ul li a:hover {
    font-style: italic;
  }

  footer .contentfoot #adress {
    margin: 15px;
    text-align: right;
    margin-top: 10%;
  }
}

.headerback {
  top: 0;
  width: 100%;
  text-align: center;
}

#backleft {
  width: 25%;
  float: left;
  background-color: sandybrown;
  left: 0;
}

#backleft #menuback ul {
  padding: 40px;
}

#backleft #menuback ul li {
  list-style: none;
}

#backleft #menuback ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

#backtofront {
  text-align: center;
  bottom: 8%;
  left: 2%;
  position: fixed;
}

#backtofront button {
  margin-left: 22px;
  margin-top: 127px;
  background-color: white;
  padding: 10px;
}

#backtofront button a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#backright {
  float: right;
  background-color: #D3E5E2;
  width: 75%;
  min-height: 100vh;
}

#backright .intit {
  width: 100%;
  height: 150px;
}

#backright .intit h1 {
  float: left;
  text-decoration: underline;
  color: sandybrown;
  padding: 3%;
  font-size: 40px;
}

#backright .intit a {
  margin-right: 10%;
  margin-top: 5%;
  text-decoration: none;
  color: black;
  font-size: 15px;
  /* display: inline; */
  background-color: white;
  width: 200px;
  height: 50px;
  float: right;
  border-radius: 10px;
  text-align: center;
}

#backright .intit a h2 {
  margin: 5%;
  font-size: 1.5em;
}

#backright .intit a:hover {
  background-color: sandybrown;
}

#backright .alert {
  margin-left: 5%;
  margin-top: 3%;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

#backright table {
  border: solid 2px black;
  width: 100%;
}

#backright table thead {
  width: 100%;
  background-color: white;
  border-bottom: solid 2px black;
}

#backright table td {
  padding: 8px;
}

#backright table button {
  display: block;
  background-color: black;
  border: none;
  border-radius: 5px;
  width: 75px;
  padding: 2px;
  color: white;
  font-weight: bold;
  margin: 2px;
  text-align: center;
}

#backright table button a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.backform {
  text-align: center;
  margin-top: 6%;
  margin-bottom: 6%;
}

.backform form h2 {
  font-size: 33px;
  margin-bottom: 20px;
}

.backform form input {
  text-align: left;
}

.backform form textarea {
  max-width: 56vw;
  border-radius: 10px;
  width: 80%;
  border-style: inset;
  border-width: 2px;
  border-color: initial;
}

.backform form .YSeditor {
  width: 80%;
  font-size: 0.85rem;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

/*********************************************************************************************************/

/************************************ YS EDITOR **********************************************************/

/*********************************************************************************************************/

.zones:not([id]) div[contenteditable] {
  min-height: 150px !important;
}

:root {
  --primary-editor: #a0a0a0;
  --primary-editor-dark: #868686;
  --white-editor: #f3f3f3;
  --white-editor-true: #fff;
  --black-editor: #232323;
  --overlay: rgba(0,0,0,.6);
}

.YSeditor {
  width: 80%;
  font-size: 0.85rem;
  margin-bottom: 25px;
}

@font-face {
  font-family: "YSeditor";
  src: url(/fonts/YSeditor.eot?e871d5dbc15aa35241bf3b3c49225601);
  src: url(/fonts/YSeditor.eot?e871d5dbc15aa35241bf3b3c49225601) format("embedded-opentype"), url(/fonts/YSeditor.woff?b77e2efaf97be0389fb5bef3dbd43695) format("woff"), url(/fonts/YSeditor.ttf?4bdd8408070085e25b0f1f7d727775b4) format("truetype"), url(/images/YSeditor.svg?00741cfb0bcb0f0df3fa8d9a69089d9b) format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
@font-face {
    font-family: "YSeditor";
    src: url(/images/YSeditor.svg?00741cfb0bcb0f0df3fa8d9a69089d9b) format("svg");
}
}

[class^=icon-]:before,
[class*=" icon-"]:before,
[class^=icon-]:after,
[class*=" icon-"]:after {
  font-family: YSeditor;
  font-style: normal;
}

.icon-insertUnorderedList:before {
  content: "\F100";
}

.icon-quote:before {
  content: "\F10A";
}

.icon-bold:before {
  content: "\F109";
}

.icon-italic:before {
  content: "\F101";
}

.icon-underline:before {
  content: "\F104";
}

.icon-strikethrough:before {
  content: "\F105";
}

.icon-justifyRight:before {
  content: "\F106";
}

.icon-justifyCenter:before {
  content: "\F107";
}

.icon-justifyFull:before {
  content: "\F102";
}

.icon-justifyLeft:before {
  content: "\F103";
}

.icon-padding:before {
  content: "\F108";
}

.icon-link:before {
  content: "\F10E";
}

.icon-paint:before {
  content: "\F10B";
}

.icon-gear:before {
  content: "\F10C";
}

.icon-down:before {
  content: "\F10D";
}

.icon-code:before {
  content: "\F10F";
}

.icon-seeMore:before {
  content: "+";
}

hr.resume {
  clear: both;
  border-style: dashed;
  border-color: #adadad;
  visibility: visible;
}

#toolBarEditor {
  display: -webkit-box;
  display: flex;
  height: 40px;
  background-color: var(--primary-editor);
  -webkit-box-pack: start;
          justify-content: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

body #toolBarEditor select {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 5px;
  border: none;
  box-shadow: none;
  color: var(--white-editor);
  width: auto;
  margin: 5px;
}

#toolBarEditor option {
  background-color: var(--primary-editor);
  color: var(--white-editor);
}

div[contenteditable] {
  border: solid 1px var(--primary-editor);
  padding: 10px;
  background-color: #fff;
}

.pdf div[contenteditable].gallery img {
  width: 40px;
  height: auto;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div[contenteditable].gallery img {
  width: 100px;
  height: auto;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div[contenteditable].gallery img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.8;
}

div[contenteditable] img {
  max-width: 100%;
}

.codeView .btnEditor:not(:last-child),
.codeView select {
  opacity: 0;
  pointer-events: none;
}

.btnEditor {
  display: block;
  width: 25px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: var(--white-editor);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: transparent;
  border: 0;
}

.btnEditor:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* KEYFRAMES */

@-webkit-keyframes Fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes Fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fromTopCenter {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%) translateX(-50%);
            transform: translateY(-100%) translateX(-50%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes fromTopCenter {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%) translateX(-50%);
            transform: translateY(-100%) translateX(-50%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
}

/* OVERLAY */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--overlay);
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  -webkit-animation-name: Fade;
          animation-name: Fade;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.editorPopup {
  -webkit-animation-name: fromTopCenter;
          animation-name: fromTopCenter;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  max-width: 90%;
  max-height: 60vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 10px 0 30px var(--overlay);
  background-color: var(--white-editor);
  cursor: default;
}

.editorPopup p {
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
}

.editorPopup input,
.editorPopup select {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

.editorPopup [type=checkbox] {
  display: none;
}

.editorPopup [type=checkbox] + label {
  display: block;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.editorPopup [type=checkbox] + label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.editorPopup [type=checkbox] + label:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 25px;
  border-radius: 0 0 5px 0;
  border-right: solid 4px var(--primary-editor-dark);
  border-bottom: solid 4px var(--primary-editor-dark);
  -webkit-transform: rotate(45deg) scale(0.5);
          transform: rotate(45deg) scale(0.5);
  opacity: 0;
  position: absolute;
  top: -3px;
  left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.editorPopup [type=checkbox]:checked + label:after {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.editorPopup .validLink {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  color: var(--white-editor);
  background-color: var(--primary-editor);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.editorPopup .validLink:hover {
  background-color: var(--primary-editor-dark);
}

.editorPopup .widthInput,
.editorPopup .marginInput {
  display: -webkit-box;
  display: flex;
}

.editorPopup .marginInput {
  width: 45%;
  display: -webkit-inline-box;
  display: inline-flex;
  margin-top: 10px;
}

.editorPopup .marginInput:nth-child(odd) {
  margin-right: 5%;
}

.editorPopup .widthInput input,
.editorPopup .marginInput input {
  border-radius: 10px 0 0 10px;
  border: none;
  margin: 0;
}

.editorPopup .marginInput input {
  border-radius: 0 10px 10px 0;
}

.editorPopup .widthInput label,
.editorPopup .marginInput label {
  display: inline-block;
  border-radius: 0 10px 10px 0;
  background-color: var(--primary-editor);
  color: var(--white-editor);
  padding: 5px 10px;
}

.editorPopup .marginInput label {
  border-radius: 10px 0 0 10px;
  min-width: 60px;
  text-align: center;
}

.editorPopup .alignImage {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.editorPopup .alignImage input {
  display: none;
}

.editorPopup .alignImage input + label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 1px var(--primary-editor-dark);
  color: var(--primary-editor-dark);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.editorPopup .alignImage input:checked + label {
  border: solid 1px transparent;
  color: var(--white-editor);
  background-color: var(--primary-editor-dark);
}

.editorPopup .validBar {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.editorPopup .validBar .removeImage,
.editorPopup .validBar .validImage {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  color: var(--white-editor);
  border: none;
  cursor: pointer;
  margin: 10px 5px;
  border-radius: 10px;
}

.editorPopup .validBar .validImage {
  background-color: #8bc34a;
}

.editorPopup .validBar .removeImage {
  background-color: #f44336;
}

/* COLOR PICKER */

.colorPickerElement {
  display: inline-block;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px var(--overlay);
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.colorPickerElement:hover {
  box-shadow: 0 5px 20px var(--overlay);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  opacity: 1;
}

.customColor {
  display: -webkit-box;
  display: flex;
}

.customColor .colorPickerElement {
  margin: 0;
  border-radius: 0 5px 5px 0;
}

.customColor input {
  -webkit-box-flex: 1;
          flex: 1;
  padding: 0 5px;
  margin: 0;
}

/****************************************/

.YSeditor table {
  width: 100%;
  border-collapse: collapse;
  height: 100%;
  background: #fff;
}

.YSeditor table th {
  padding: 5px 8px;
  height: 40px;
  font-size: 1.2rem;
  color: #000;
  text-align: left;
  background: var(--cta_hover-background);
}

.YSeditor table tr:nth-child(2) td {
  height: 40px;
  font-weight: bold;
  background: #c5c5c5;
  color: #fff;
  font-size: 1.2rem;
}

.YSeditor table td {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 3px 10px;
}

.YSeditor table tr:nth-child(even) {
  background: #f9f9f9;
}

#droite .YSeditor h2,
#droite .YSeditor h3,
#droite .YSeditor h4,
#droite .YSeditor p,
#droite .YSeditor ul {
  padding: 15px 5px;
  margin: 5px 0;
  color: #000 !important;
  position: relative;
}

#droite .YSeditor h2::before,
#droite .YSeditor h3::before,
#droite .YSeditor h4::before,
#droite .YSeditor p::before,
#droite .YSeditor ul::before {
  position: absolute;
  z-index: 2;
  top: 2px;
  left: 2px;
  font-size: 0.65rem;
}

#droite .YSeditor h2::after,
#droite .YSeditor h3::after,
#droite .YSeditor h4::after,
#droite .YSeditor p::after,
#droite .YSeditor ul::after {
  position: absolute;
  z-index: 2;
  bottom: 2px;
  right: 2px;
  font-size: 0.65rem;
}

#droite .YSeditor h2 {
  background: #d1d1d1;
}

#droite .YSeditor h2::before {
  content: "<h2>";
}

#droite .YSeditor h2::after {
  content: "</h2>";
}

#droite .YSeditor h3 {
  background: #e1e1e1;
}

#droite .YSeditor h3::before {
  content: "<h3>";
}

#droite .YSeditor h3::after {
  content: "</h3>";
}

#droite .YSeditor h4 {
  background: #f1f1f1;
}

#droite .YSeditor h4::before {
  content: "<h4>";
}

#droite .YSeditor h4::after {
  content: "</h4>";
}

#droite .YSeditor p {
  border: 1px dotted gray;
}

#droite .YSeditor p::before {
  content: "<p>";
}

#droite .YSeditor p::after {
  content: "</p>";
}

#droite .YSeditor ul {
  border: 1px dotted gray;
  margin-left: 15px;
  padding-left: 15px;
}

#droite .YSeditor ul::before {
  content: "<ul>";
}

#droite .YSeditor ul::after {
  content: "</ul>";
}

@media screen and (max-width: 800px) {
  .welcomedash {
    text-align: center;
    font-size: 2em;
    padding-top: 35%;
  }

  .membertitle {
    text-align: center;
    font-size: 2em;
    padding-top: 35%;
  }

  .membre {
    background-color: #D3E5E2;
  }

  .grid {
    width: 80%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid a {
    display: block;
    font-size: 20px;
    height: 30vh;
    background-color: sandybrown;
    border-radius: 250px;
    margin: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 20%;
    box-shadow: 2px 11px 25px 0px rgba(0, 0, 0, 0.75);
  }

  .grid a img {
    width: 100px;
    height: 100px;
  }

  #formrecette {
    text-align: center;
    margin-left: auto;
  }

  #formrecette .YSeditor {
    width: 80%;
    font-size: 0.85rem;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 800px) {
  .welcomedash {
    text-align: center;
    font-size: 4em;
  }

  .membre {
    background-color: #D3E5E2;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin-bottom: 50px;
  }

  .grid a {
    display: block;
    font-size: 20px;
    height: 35vh;
    background-color: sandybrown;
    border-radius: 250px;
    margin: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 20%;
    box-shadow: 2px 11px 25px 0px rgba(0, 0, 0, 0.75);
  }

  .grid a img {
    width: 100px;
    height: 100px;
  }

  #formrecette {
    margin-top: 5%;
    text-align: center;
  }

  #formrecette .YSeditor {
    width: 35%;
    font-size: 0.85rem;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  #formrecette input:not([type=submit]) {
    border-radius: 10px;
    width: 35% !important;
    height: 36px;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  #insectesfront {
    margin-top: 10%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 150px;
  }

  #insectesfront figure {
    text-align: center;
  }

  #insectesfront figure a {
    text-decoration: none;
    color: black;
  }

  #insectesfront figure p {
    max-width: 70%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  #insectesfront img {
    max-width: 250px;
  }

  #insectes {
    margin-top: 5%;
    min-height: 90vh;
  }

  #partners {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 150px;
  }

  #partners figure {
    text-align: center;
  }

  #partners figure a {
    text-decoration: none;
    color: black;
  }

  #partners figure p {
    max-width: 70%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  #partners figure img {
    max-width: 250px;
  }
}

@media screen and (min-width: 800px) {
  #insectesfront {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 150px;
  }

  #insectesfront figure {
    text-align: center;
  }

  #insectesfront figure a {
    text-decoration: none;
    color: black;
  }

  #insectesfront figure p {
    max-width: 70%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  #insectesfront img {
    max-width: 250px;
  }

  #insectes {
    margin-top: 5%;
    min-height: 90vh;
  }

  #partners {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 150px;
  }

  #partners figure {
    text-align: center;
  }

  #partners figure p {
    max-width: 70%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  #partners figure img {
    max-width: 250px;
  }
}

@media screen and (max-width: 800px) {
  #intro {
    position: absolute;
    width: 100%;
    background-image: url(/images/intro.jpg?1dc98f0b5081ae020e8b03fe7d6cfb74);
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;
  }

  #intro img {
    width: 100%;
  }

  #apropos {
    width: 100%;
    background-image: url(/images/apropos-backgroundgrouille.jpg?a6f2f104d80d5b763693b396bf6b66b6);
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;
  }

  #apropos img {
    width: 100%;
  }

  #about2 {
    width: 100%;
    background-image: url(/images/about3.jpg?72b7690fff1ef4b2b15dc59c2e9baba8);
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;
  }

  #about2 img {
    width: 100%;
  }

  #insecteintro {
    width: 100%;
    background-image: url(/images/scorpion.jpg?d2f995c906508af009e23ff2e848ad84);
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;
  }

  #insecteintro img {
    width: 100%;
  }

  #actusintro {
    width: 100%;
    background-image: url(/images/manif2.jpg?4776302c5847e4cd97f05cec2f709eb0);
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;
  }

  #actusintro img {
    width: 100%;
  }

  #recettesintro {
    width: 100%;
    background-image: url(/images/brochettes.jpg?7c4e07592744f6cdc7915053d938f09a);
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;
  }

  #recettesintro img {
    width: 100%;
  }

  #partnerintro {
    width: 100%;
    background-image: url(/images/brochettes.jpg?7c4e07592744f6cdc7915053d938f09a);
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    top: 0;
  }

  #partnerintro img {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  #intro {
    width: 100%;
    background-image: url(/images/intro.jpg?1dc98f0b5081ae020e8b03fe7d6cfb74);
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    margin-top: 10vh;
    top: 0;
  }

  #intro img {
    width: 100%;
  }

  #apropos {
    width: 100%;
    background-image: url(/images/apropos-backgroundgrouille.jpg?a6f2f104d80d5b763693b396bf6b66b6);
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 30vh;
    margin-top: 10vh;
    top: 0;
  }

  #apropos img {
    width: 100%;
  }

  #about2 {
    width: 100%;
    background-image: url(/images/about3.jpg?72b7690fff1ef4b2b15dc59c2e9baba8);
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    padding-top: 50vh;
    top: 0;
  }

  #about2 img {
    width: 100%;
  }

  #insecteintro {
    width: 100%;
    background-image: url(/images/scorpion.jpg?d2f995c906508af009e23ff2e848ad84);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 50vh;
    top: 0;
  }

  #insecteintro img {
    width: 100%;
  }

  #actusintro {
    width: 100%;
    background-image: url(/images/manif2.jpg?4776302c5847e4cd97f05cec2f709eb0);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 50vh;
    top: 0;
  }

  #actusintro img {
    width: 100%;
  }

  #recettesintro {
    width: 100%;
    background-image: url(/images/brochettes.jpg?7c4e07592744f6cdc7915053d938f09a);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 50vh;
    top: 0;
  }

  #recettesintro img {
    width: 100%;
  }

  #partnerintro {
    width: 100%;
    background-image: url(/images/sushi.jpg?2ce8c65c64724449f4fc880c44a90bd2);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 50vh;
    top: 0;
  }

  #partnerintro img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .single {
    float: left;
    height: auto;
    position: inherit;
  }

  .single #insectesview {
    padding-top: 20%;
  }

  .single #insectesview .imgsingle {
    float: left;
    width: 100%;
    padding: 15%;
  }

  .single #insectesview .imgsingle img {
    width: 100%;
  }

  .single #insectesview .infosingle {
    float: left;
    width: 100%;
    margin-top: 5%;
    padding: 13%;
  }

  .single #insectesview .infosingle img {
    width: 100px;
    height: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 800px) {
  .single {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .single #insectesview .imgsingle {
    float: left;
    width: 40%;
  }

  .single #insectesview .imgsingle img {
    width: 100%;
  }

  .single #insectesview .infosingle {
    float: left;
    width: 60%;
    margin-top: 5%;
  }

  .single #insectesview .infosingle img {
    width: 100px;
    height: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .single #recettesview .lineleft {
    width: 100px;
    height: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .single #recettesview .titlerecette {
    margin-bottom: 5%;
  }

  .single #recettesview .imgsingle {
    float: left;
    width: 40%;
  }

  .single #recettesview .imgsingle img {
    width: 100%;
  }

  .single #recettesview .infosingle {
    float: left;
    width: 60%;
    padding: 3%;
  }

  .single #recettesview .infosingle img {
    width: 100px;
    height: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .single #recettesview .comrecette {
    background-color: lightgray;
    padding: 17px;
    width: 30%;
    float: left;
    margin-left: 3%;
    margin-bottom: 5%;
  }

  .single #recettesview .comrecette .commenter {
    border-top: 2px solid black;
    padding-top: 2%;
    margin-top: 5%;
  }

  .single #recettesview .comrecette .commenter #docom {
    font-weight: bold;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* body {
  font-family: "Alata", sans-serif;
  overflow-x: hidden;
}

* body h1,
* body h2 {
  font-family: "Shadows Into Light", cursive, cursive;
}

